<div class="container footer-container">
  <div class="grid">
    <div class="logo">
      <a href="./index.html" class="footer-svg">
        <svg class="icon-footer" width="127" height="20">
          <use href="./img/header/symbol-defs-header.svg#focus-frame"></use>
        </svg>
      </a>
      <address>
        <a class="link-f" href="tel:+380665438912" id="contacts"
          >UK: +38 066 543 8912</a
        >
      </address>
      <p>Ukraine, Kyiv</p>
    </div>

    <div class="social-navigation">
      <ul class="footer-ul">
        <li>
          <a
            class="link-f"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="link-f"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="link-f"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >Youtube</a
          >
        </li>
      </ul>

      <ul class="footer-ul">
        <li><a class="link-f" href="#About-us">About us</a></li>
        <li><a class="link-f" href="#Our-courses">Our courses</a></li>
        <li><a class="link-f" href="#Our-mentors">Our mentors</a></li>
        <li><a class="link-f" href="#Reviews">Reviews</a></li>
        <li><a class="link-f" href="#contacts">contacts</a></li>
      </ul>
    </div>
    <div class="input">
      <form class="input-footer-form">
        <label class="footer-label" for="footer">
          <input
            name="footer"
            type="email"
            placeholder="Enter your email"
            class="footer-input"
            id="footer"
            required
            pattern="[A-Za-z]{3,}"
          />
        </label>
        <button type="submit" class="footer-input-button">Go</button>
      </form>
    </div>
  </div>
  <div class="PrivacyPolicy">
    <div class="">
      <p>
        Privacy Policy<br />
        Public Offering Agreement
      </p>
    </div>
    <div class="right">
      <p class="">
        2023 Focus Frame<br />
        &copy; All rights reserved
      </p>
    </div>
  </div>
</div>
