<div class="box-header-main container-header">
  <div class="box-header">
    <nav class="navigation-header">
      <svg class="icon-header" width="16" height="16">
        <use href="./img/header/symbol-defs-header.svg#icon-camera"></use>
      </svg>
      <a class="circle" href="./index.html">
        <svg class="icon-header" width="16" height="16">
          <use href="./img/header/symbol-defs-header.svg#icon-camera"></use>
        </svg>
      </a>

      <ul class="list-header">
        <li class="option-list-header"><a href="./index.html">About us</a></li>
        <li class="option-list-header">
          <a href="./index.html">Our courses</a>
        </li>
        <li class="option-list-header">
          <a href="./index.html">Our mentors</a>
        </li>
        <li class="option-list-header"><a href="./index.html">Reviews</a></li>
        <li class="option-list-header"><a href="./index.html">contacts</a></li>
      </ul>
    </nav>

                <ul class="list-header">
                    <li class="option-list-header"><a href="#About-us">About us</a></li>
                    <li class="option-list-header"><a href="#Our-courses">Our courses</a></li>
                    <li class="option-list-header"><a href="#Our-mentors">Our mentors</a></li>
                    <li class="option-list-header"><a href="#Reviews">Reviews</a></li>
                    <li class="option-list-header"><a href="#contacts">Contacts</a></li>
                </ul>
            </nav>

            <ul class="list-icons-header">
                <li class="option-list-icons-header">
                    <a class="circle" href="./index.html">
                        <svg class="icon-header" width="16" height="16">
                            <use href="./img/header/symbol-defs-header.svg#icon-camera"><a href="#section-sign-up"></a></use>
                        </svg>
                    </a>
                </li>
                <li class="option-list-icons-header">
                    <a class="icon-menu" href="./index.html">
                        <svg class="icon-header" width="32" height="22" >
                            <use href="./img/header/symbol-defs-header.svg#icon-Nav"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <button class="button-header" type="button"><a href="#section-sign-up">Sign Up</a></button>

    </div>

  <button
    class="button-header"
    type="button"
    onclick="location.href='#section-sign-up'"
  >
    Sign Up
  </button>
</div>
