<section class="section-one">
  <div class="box-section-one container-header">
    <div class="box-sec-one">
      <div class="new-box-section">
        <h1 class="main-title">
          Discover the magic of <span class="photography">photography</span> in
          our school
        </h1>
        <p class="paragraf-section-one">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>

        <div class="tumb-section-one">
          <div class="students-and-reviews">
            <ul class="list-students-section-one">
              <li class="option-list-students one-img">
                <img
                  src="./img/header/girl1-header.png"
                  alt="boy"
                  srcset="
                    ./img/header/girl1-header.png    1x,
                    ./img/header/girl1-header@2x.png 2x
                  "
                />
              </li>
              <li class="option-list-students two-img">
                <img
                  src="./img/header/boy-header.png"
                  alt="boy"
                  srcset="
                    ./img/header/boy-header.png    1x,
                    ./img/header/boy-header@2x.png 2x
                  "
                />
              </li>
              <li class="option-list-students three-img">
                <img
                  src="./img/header/girl-header.png"
                  alt="boy"
                  srcset="
                    ./img/header/girl-header.png    1x,
                    ./img/header/girl-header@2x.png 2x
                  "
                />
              </li>
            </ul>
            <div class="our-students">
              <p class="text-after-icons">
                <a href="#Reviews">Our happy students</a>
              </p>
              <a class="link-icon" href="#Reviews">
                <svg width="18" height="8.66">
                  <use
                    href="./img/header/symbol-defs-header.svg#icon-Arrow-header"
                  ></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="list-reviews-section-one">
            <a class="icon-stars" href="./index.html">
              <svg class="stars-hero" width="20" height="20">
                <use href="./img/header/symbol-defs-header.svg#icon-star"></use>
              </svg>
            </a>
            <div class="amount-reviews">
              <p class="text">Reviews</p>
              <p class="amount">+1500</p>
            </div>
          </div>
        </div>
      </div>

      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/header/fotograf-desctop.png    1x,
            ./img/header/fotograf-desctop@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1280px)"
          srcset="
            ./img/header/fotograf-tablet.png    1x,
            ./img/header/fotograf-tablet@2x.png 2x
          "
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./img/header/fotograf-mobail.png    1x,
            ./img/header/fotograf-mobail@2x.png 2x
          "
        />
        <img
          class="image-photographer"
          src="./img/header/fotograf-mobail.png"
          alt="Photographer holding a camera"
        />
      </picture>
    </div>
  </div>
</section>
