<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/menu.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="mob-menu is-open">
        <div class="mob-menu-wrap">
          <div>
            <button type="button" class="menu-close">
              <svg class="menu-icon-close" width="32" height="32">
                <use href="../img/menu/symbol-defs-menu.svg#icon-close"></use>
              </svg>
            </button>
            <ul class="mob-menu-list">
              <li class="mob-menu-item">
                <a class="mob-menu-link-about" href="">About us</a>
              </li>
              <li class="mob-menu-item">
                <a class="mob-menu-link" href="">Our courses</a>
              </li>
              <li class="mob-menu-item item-contacts">
                <a class="mob-menu-link" href="">Our mentors</a>
              </li>
              <li class="mob-menu-item">
                <a class="mob-menu-link" href="">Reviews</a>
              </li>
              <li class="mob-menu-item">
                <a class="mob-menu-link" href="">contacts</a>
              </li>
            </ul>
          </div>
          <img
            srcset="
              ../img/menu/clock-menu-mobail.jpg    1x,
              ../img/menu/clock-menu-mobail@2x.jpg 2x
            "
            src="../img/menu/clock-menu-mobail.jpg"
            alt="clock-menu"
            class="img-clock-menu"
            width="329px"
            height="218"
          />
        </div>
      </div>
    </main>
  </body>
</html>
