<section class="section-mentors" id="Our mentors">
  <div class="container our-mentors">
    <h2 class="mentors-title">Our <span class="title-item">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-cards">
        <img
          srcset="./img/main/girl1-main.png 1x, ./img/main/girl1-main@2x.png 2x"
          class="img-element"
          src="./img/main/girl1-main.png"
          width="180"
          height="180"
          alt="girl"
        />
        <h3 class="mentors-name">Emilia Smith</h3>
        <p class="mentors-experience">1.5 years of experience</p>
      </li>
      <li class="mentors-cards">
        <img
          class="img-element"
          srcset="./img/main/boy1-main.png 1x, ./img/main/boy1-main@2x.png 2x"
          src="./img/main/boy1-main.png"
          width="180"
          height="180"
          alt="boy"
        />
        <h3 class="mentors-name">Alex Lebedev</h3>
        <p class="mentors-experience">3.5 years of experience</p>
      </li>
      <li class="mentors-cards">
        <img
          class="img-element"
          srcset="./img/main/girl2-main.png 1x, ./img/main/girl2-main@2x.png 2x"
          src="./img/main/girl2-main.png"
          width="180"
          height="180"
          alt="girl"
        />
        <h3 class="mentors-name">Mia Dubrovska</h3>
        <p class="mentors-experience">2.0 years of experience</p>
      </li>
      <li class="mentors-cards">
        <img
          class="img-element"
          srcset="./img/main/boy2-main.png 1x, ./img/main/boy2-main@2x.png 2x"
          src="./img/main/boy2-main.png"
          width="180"
          height="180"
          alt="boy"
        />
        <h3 class="mentors-name">Eliot Kovalev</h3>
        <p class="mentors-experience">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
