<section class="reviews" id="Reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="review-header">
          <div class="review-img-container">
            <img
              srcset="./img/main/user-boy.png 1x, ./img/main/user-boy@2x.png 2x"
              src="./img/main/user-boy.png"
              alt="Abraham Baker"
              width="56"
              height="56"
              class="reviews-item-img"
            />
            <div class="reviews-subtitle-container">
              <h3 class="reviews-item-subtitle">Abraham Baker</h3>
              <p class="reviews-item-text">Student</p>
            </div>
          </div>

          <div class="stars">
            <svg class="reviews-item-stars" width="16" height="16">
              <use
                href="./img/main/symbol-defs-main.svg#icon-star-review"
              ></use>
            </svg>
            <svg class="reviews-item-stars" width="16" height="16">
              <use
                href="./img/main/symbol-defs-main.svg#icon-star-review"
              ></use>
            </svg>
            <svg class="reviews-item-stars" width="16" height="16">
              <use
                href="./img/main/symbol-defs-main.svg#icon-star-review"
              ></use>
            </svg>
            <svg class="reviews-item-stars" width="16" height="16">
              <use
                href="./img/main/symbol-defs-main.svg#icon-star-review"
              ></use>
            </svg>
            <svg class="reviews-item-stars-last" width="16" height="16">
              <use
                href="./img/main/symbol-defs-main.svg#icon-star-review"
              ></use>
            </svg>
          </div>
        </div>

        <p class="reviews-item-review">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <div class="reviews-item2">
        <li class="reviews-item">
          <div class="review-header">
            <div class="review-img-container">
              <img
                srcset="
                  ./img/main/user-girl.png    1x,
                  ./img/main/user-girl@2x.png 2x
                "
                src="./img/main/user-girl.png"
                alt="Amanda Lowery"
                width="56"
                height="56"
                class="reviews-item-img"
              />
              <div class="reviews-subtitle-container">
                <h3 class="reviews-item-subtitle">Amanda Lowery</h3>
                <p class="reviews-item-text">Student</p>
              </div>
            </div>
            <div class="stars">
              <svg class="reviews-item-stars" width="16" height="16">
                <use
                  href="./img/main/symbol-defs-main.svg#icon-star-review"
                ></use>
              </svg>
              <svg class="reviews-item-stars" width="16" height="16">
                <use
                  href="./img/main/symbol-defs-main.svg#icon-star-review"
                ></use>
              </svg>
              <svg class="reviews-item-stars" width="16" height="16">
                <use
                  href="./img/main/symbol-defs-main.svg#icon-star-review"
                ></use>
              </svg>
              <svg class="reviews-item-stars" width="16" height="16">
                <use
                  href="./img/main/symbol-defs-main.svg#icon-star-review"
                ></use>
              </svg>
              <svg class="reviews-item-stars-last" width="16" height="16">
                <use
                  href="./img/main/symbol-defs-main.svg#icon-star-review"
                ></use>
              </svg>
            </div>
          </div>
          <p class="reviews-item-review">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
