<body>
    <main>
        <div class="container">
            <div class="sign-up-wrap">

                <form class="sign-up-form">
                    <h3 class="sign-up-title">Sign <span class="sign-up-span">Up</span></h3>

                    <p class="sign-up-descr">Please use the form below to contact us. Enter your name, email, and
                        message and we'll get back to you shortly.</p>

                    <input type="text" name="sign-up-name" id="sign-up-name" class="sign-up-input"
                        placeholder="Enter your name">

                    <input type="text" name="sign-up-email" id="sign-up-email" class="sign-up-input"
                        placeholder="Enter your email">

                    <textarea name="sign-up-text" id="sign-up-text" cols="30" rows="10" class="sign-up-message"
                        placeholder="Message"></textarea>

                    <button type="submit" class="sign-up-btn">Send</button>

                    <p class="private-policy">
                        By clicking on “Send” button, you agree to our <a href="" class="private-policy-link">Privacy
                            Policy</a>,
                        and allow Promodo to use this information for marketing purposes.
                    </p>

                </form>
                
                <!-- <div class="img-wrap">
                    <div class="img-container">
                        <img src="./images/photoapart.png" alt="" class="camera" width="240px" height="296px">
                    </div>
                    <div>
                        <img src="./images/objective.png" alt="camera" width="150px" height="142px" class="lens">
                    </div>
                </div> -->

            </div>


        </div>

    </main>

</body>