.block {
  padding-bottom: 80px;
}

.block-border {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-right: none;
  position: relative;
}

.block-go {
  color: #bea69e;
  font-size: 28px;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.block-p {
  color: #bea69e;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.block-color {
  color: #fff;
}

@media screen and (min-width: 375px) {
  .block-border {
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .block-border {
    padding: 24px 0;
    width: 100%;
    margin: 0 auto;
  }

  .block {
    padding-bottom: 100px;
  }

  .block-go {
    font-size: 40px;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.8px;
  }
}

@media screen and (min-width: 1280px) {
  .block-border {
    padding: 24px 0;
    width: 100%;
    margin: 0 auto;
  }

  .block {
    padding-bottom: 150px;
  }

  .block-go {
    font-size: 59px;
    line-height: 1.08; /* 108.475% */
    letter-spacing: -1.18px;
  }
}

@media screen and (min-width: 1440px) {
  .block-border {
    padding: 24px 0;
    width: 100%;
    margin: 0 auto;
  }

  .block {
    padding-bottom: 150px;
  }

  .block-go {
    font-size: 59px;
    line-height: 1.08; /* 108.475% */
    letter-spacing: -1.18px;
  }
}
