.merquee-inner {
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0;
}
.block-go {
  color: #bea69e;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin: 0;
  animation: merqueeinner 10s linear infinite;
}
@keyframes merqueeinner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.block-color {
  color: #fff;
}

@media (min-width: 768px) {
  .block-go {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    animation: merqueeinner 12s linear infinite;
  }
}
@keyframes merqueeinner {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 1280px) {
  .block-go {
    font-size: 59px;
    line-height: 64px;
    letter-spacing: -1.18px;
    text-transform: uppercase;
    animation: merqueeinner 17s linear infinite;
  }
  @keyframes merqueeinner {
    0% {
      transform: translateX(180%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
