ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.mob-menu-wrap {
  width: 218px;
  background-color: #bea69e;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mob-menu-list {
  margin-top: 180px;
  margin-bottom: 133px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.mob-menu-link-about {
  color: #121212;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.mob-menu-link {
  color: #121212;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.img-clock-menu {
  height: 329px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-close {
  border: none;
  background-color: transparent;
}

.menu-icon-close {
  stroke: black;
}
