/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

/* основні стилі для усіх */
body {
  font-size: 14px;
  font-family: 'Dm Sans', sans-serif;
  background: var(--black, #121212);
  line-height: 1.5;
  color: white;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.container {
  max-width: 335px;
  margin: 0 auto;
  padding: 0 20px;
}


