h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.reviews-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.reviews {
  background-color: #121212;
  padding: 80px 0;
}

.reviews-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.12px;
  margin-bottom: 40px;
}

.reviews-item {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.review-img-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.reviews-subtitle-container {
  display: block;
  gap: 4px;
}

.stars {
  display: flex;
  gap: 4px;
  margin-left: 66px;
  min-width: 96px;
}

.reviews-item-stars {
  fill: #bea69e;
}

.reviews-item-stars-last {
  fill: #414141;
}

.reviews-item-img {
  border-radius: 50%;
  border: none;
}

.reviews-item-subtitle {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}

.reviews-item-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.24px;
}

.reviews-item-review {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.28px;
  margin-top: 20px;
  max-width: 282px;
}

.reviews-item2 {
  display: none;
}
